<h1> <%= @survey.name() %></h1>

<h1>Update <%=@survey.name() %> </h1>
<form action="/surveys/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Rename this survey:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Update</button>
</form>

<h1>Delete This Survey</h1>
<form action="/surveys/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete survey</button>
</form>

<h3>Add a new question to survey:</h3>
<form action="/questions" method="post">
  <input id="survey_id" name="survey_id" type="hidden" value="<%= @survey.id() %>">
  <label for="description">Question Name</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add Question</button>
</form>

<h1>All of <%= @survey.name() %>'s questions!</h1>
<% if @survey.questions().any?() %>
  <ul>
    <% @survey.questions().each() do |question| %>
      <li><%= question.description() %>
        <form action="/questions/<%= question.id() %>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button class="btn btn-success" type="submit">Delete question</button><br>
        </form>
      </li>

    <% end %>
  </ul>
<% else %>
  <p>There are no questions for this survey!!!!</p>
<% end %>

<a href="/">home</a>
